#footer{
text-shadow: 2px 2px grey;
text-align: center;
padding:8px;
font-size: 16;
position:fixed;
bottom:0;
width:100%;
text-align: center;
background-color:rgb(179, 179, 179);
font-family: 'Alkatra', cursive;
}
body{
background-color:rgb(207, 207, 207) ;
}
h1{
font-size:28px;
font-style: oblique;
font-weight: 500;
}
h4{
    text-shadow: 1px 1px rgb(255, 0, 0);
    color:red;
    font-variant: small-caps;
}
#camera{
width:500px;
height:400px;
border-radius: 8px;
border:white solid;
}
img{
border-radius:8px;
padding:6px;
box-shadow: 6px 6px 6px 6px lightskyblue;
width:40%;
height:60%;
}
img:hover{
border-radius: 16px;
border:whitesmoke solid;
padding:8px;
margin:12px;
}
